<ion-menu [content]="NAV">

  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item *ngFor="let p of pages" (click)="goToPage(p.componente)" menuClose>
        <ion-icon item-left name="{{p.icon}}"></ion-icon>
        {{p.titulo}}
      </button>
      <button ion-item (click)="cerrarSesion()" menuClose>
        <ion-icon item-left name="log-out"></ion-icon>
        Cerrar Sesión
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav #NAV [root]="rootPage"></ion-nav>
