<!--
  Generated template for the InicioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>TransApp - Inicio</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="cargaFeedTwitter($event)">
      <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Arrastre para actualizar"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let tweet of tweets">

    <ion-item>
      <ion-avatar item-left>
        <img src="{{tweet.user.profile_image_url}}">
      </ion-avatar>
      <h2>{{tweet.user.name}}</h2>
      <p>{{fechaParaTweet(tweet.created_at)}}</p>
    </ion-item>

    <img src="{{tweet.extended_entities.media[0].media_url}}" *ngIf="tweet.extended_entities">

    <ion-card-content>
      <p>{{tweet.text}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col *ngIf="tweet.entities.urls.length > 0">
        <button ion-button clear small (click)="abrirLink(tweet.entities.urls[0].url)">
          <ion-icon name="open"></ion-icon>
          <div>Abrir link</div>
        </button>
      </ion-col>
    </ion-row>


  </ion-card>

  
</ion-content>
