<!--
  Generated template for the EvaluacionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!--<ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Evaluacion</ion-title>
  </ion-navbar>-->

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Evaluación
    </ion-title>
    <ion-item>
      <button *ngIf="!this.viajeIniciado" (click)="iniciaViaje()" ion-button block>Inicia viaje</button>
      <button *ngIf="this.viajeIniciado" (click)="clickFinalizaRuta()" ion-button block>Finaliza viaje</button>
    </ion-item>
    <ion-item>
      <p>Arrastra para avanzar</p>
    </ion-item>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <h3>{{this.ruta.tramos[0].inicio.name}} - {{this.ruta.tramos[this.ruta.tramos.length - 1].fin.name}}</h3>
    <ion-item>
      <ion-label>Tiempo de viaje: {{this.tiempo | date: "HH:mm:ss"}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-slides (ionSlideWillChange)="cambiaSlide($event)" *ngIf="this.viajeIniciado && this.ruta">
    <div *ngFor="let tramo of this.ruta.tramos; let i = index">
      <ion-slide *ngIf="tramo.id == null">
        <ion-card>
          <ion-card-header>
            Estación de transbordo {{tramo.inicio.name}}
          </ion-card-header>
          <ion-card-content>

            <ion-list radio-group [(ngModel)]="congestion">
              <ion-list-header>Congestión</ion-list-header>
              <ion-item>
                <ion-label>Normal</ion-label>
                <ion-radio value="0" checked></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Alta</ion-label>
                <ion-radio value="1"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Muy alta</ion-label>
                <ion-radio value="2"></ion-radio>
              </ion-item>
            </ion-list>

          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide *ngIf="tramo.id != null && i == 0">
        <ion-card>
          <!-- if -->
          <ion-card-header>
            Estación inicial {{tramo.inicio.name}}
          </ion-card-header>
          <ion-card-content>

            <ion-list radio-group [(ngModel)]="congestion">
              <ion-list-header>Congestión</ion-list-header>
              <ion-item>
                <ion-label>Normal</ion-label>
                <ion-radio value="0" checked></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Alta</ion-label>
                <ion-radio value="1"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Muy alta</ion-label>
                <ion-radio value="2"></ion-radio>
              </ion-item>
            </ion-list>

          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide *ngIf="tramo.id != null && i == this.ruta.tramos.length - 1">
        <ion-card>
          <!-- if -->
          <ion-card-header>
            Estación final {{tramo.fin.name}}
          </ion-card-header>
          <ion-card-content>

            <ion-list radio-group [(ngModel)]="congestion">
              <ion-list-header>Congestión</ion-list-header>
              <ion-item>
                <ion-label>Normal</ion-label>
                <ion-radio value="0" checked></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Alta</ion-label>
                <ion-radio value="1"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Muy alta</ion-label>
                <ion-radio value="2"></ion-radio>
              </ion-item>
            </ion-list>

          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide *ngIf="tramo.id != null && i > 0 && i != this.ruta.tramos.length - 1">
        <ion-card>
          <!-- else -->
          <ion-card-header>
            {{tramo.inicio.name}} - {{tramo.fin.name}}
          </ion-card-header>
          <ion-card-content>

            <ion-list *ngIf="tramo" radio-group [(ngModel)]="valoracionGeneral">
              <ion-list-header>Valoración general</ion-list-header>
              <ion-item>
                <ion-label>Mala</ion-label>
                <ion-radio value="0"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Buena</ion-label>
                <ion-radio value="1" checked></ion-radio>
              </ion-item>
            </ion-list>

            <ion-list radio-group [(ngModel)]="congestion">
              <ion-list-header>Congestión</ion-list-header>
              <ion-item>
                <ion-label>Normal</ion-label>
                <ion-radio value="0" checked></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Alta</ion-label>
                <ion-radio value="1"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Muy alta</ion-label>
                <ion-radio value="2"></ion-radio>
              </ion-item>
            </ion-list>

            <ion-item>
              <ion-label>Frenazos</ion-label>
              <ion-checkbox color="danger" [(ngModel)]="frenazos"></ion-checkbox>
            </ion-item>

          </ion-card-content>
        </ion-card>

      </ion-slide>
    </div>

  </ion-slides>

  <!--<ion-slides>
    <ion-slide (ionSlideDrag)="cambiaSlide($event)" *ngFor="let tramo of this.ruta.tramos">
      <!-- <form [formGroup]="evaluacion" (ngSubmit)="enviarForm()">
        <ion-header>
          {{tramo.inicio.name}} - {{tramo.fin.name}}
        </ion-header>
        <ion-list *ngIf="tramo" radio-group [(ngModel)]="valoracionGeneral">
          <ion-list-header>Valoración general</ion-list-header>
          <ion-item>
            <ion-label>Mala</ion-label>
            <ion-radio value="mala"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Buena</ion-label>
            <ion-radio value="buena" checked></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Muy buena</ion-label>
            <ion-radio value="muybuena"></ion-radio>
          </ion-item>
        </ion-list>

        <ion-list radio-group [(ngModel)]="congestion">
          <ion-list-header>Congestión</ion-list-header>
          <ion-item>
            <ion-label>Normal</ion-label>
            <ion-radio value="normal" checked></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Alta</ion-label>
            <ion-radio value="alta"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Muy alta</ion-label>
            <ion-radio value="muyalta"></ion-radio>
          </ion-item>
        </ion-list>

        <ion-item>
          <ion-label>Frenazos</ion-label>
          <ion-checkbox color="danger" [(ngModel)]="frenazos"></ion-checkbox>
        </ion-item>

        <button (click)="verDatos()" ion-button block>Siguiente</button>

    </ion-slide>
  </ion-slides>-->


</ion-content>
