<!--
  Generated template for the TrayectosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar  color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Trayectos guardados</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list no-lines>
    <ion-item *ngFor="let trayecto of trayectos" (click)="verificaRutasTrayecto(trayecto)">
      {{ trayecto.estacionInicio.name }} - {{ trayecto.estacionFinal.name }}
      <button ion-button item-end (click)="eliminarTrayecto(trayecto)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item>
  </ion-list>


  <button ion-button right icon-only (click)="agregarTrayecto()">
    <ion-icon name="add"></ion-icon>
  </button>

</ion-content>
