<!--
  Generated template for the EstacionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mi estación</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card *ngIf="this.estacion">
      <!--<img src="assets/img/bjork-live.jpg"/>-->
      <ion-card-title> <!--TODO: DARLE COLOR style="color: ">-->
        {{this.linea.name}} - {{this.estacion.name}}
      </ion-card-title>
      <p *ngIf="this.distanciaKm">
        Distancia {{this.distanciaKm}} Km
      </p>
    </ion-card>

    <ion-list *ngIf="this.estacion">
      <ion-list-header (click)="muestraEquipamiento()">
        <ion-icon name='list' item-start style="color: #330981"></ion-icon>
        <h2>Equipamiento</h2>
      </ion-list-header>
      <div *ngIf="muestraEquip">
        <ion-item *ngFor="let equipamiento of estacion.equipamiento" detail-none>
          <!--<ion-item *ngFor="let equipamiento of estacion.equipamiento">-->
          {{equipamiento.name}}
        </ion-item>
      </div>
    </ion-list>

    <form *ngIf="!this.estacion" [formGroup]="form" (ngSubmit)="enviarForm()">
      <ion-list>
        <ion-item>
          <ion-label>Línea</ion-label>
          <ion-select formControlName="linea" (ionChange)="setValoresEstaciones($event)">
            <ion-option *ngFor="let linea of this.servicioDatos.lineas" [value] = "linea" >{{linea.name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="estaciones">
          <ion-label>Estación</ion-label>
          <ion-select formControlName="estacion">
            <ion-option *ngFor="let estacion of estaciones" [value] = "estacion">{{estacion.name}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
  
      <button type="submit" ion-button block [disabled]="!form.valid">Buscar estación</button>
    </form>

</ion-content>
