<!--
  Generated template for the PlanificacionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="this.lineaInicio">Buscar rutas</ion-title>
    <ion-title *ngIf="!this.lineaInicio">Nuevo trayecto</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>



  <form  [formGroup]="formularioPlanificacion" (ngSubmit)="enviarForm()">
    <ion-list>
      <ion-item>
        <ion-label>Línea de inicio</ion-label>
        <ion-select formControlName="lineaIni" (ionChange)="setValoresEstacionesIni($event)">
          <ion-option *ngFor="let linea of this.servicioDatos.lineas" [value] = "linea" >{{linea.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="estacionesInicioSeleccionadas">
        <ion-label>Estación de inicio</ion-label>
        <ion-select formControlName="estacionIni">
          <ion-option *ngFor="let estacion of estacionesInicioSeleccionadas" [value] = "estacion">{{estacion.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label>Línea final</ion-label>
        <ion-select formControlName="lineaFin" (ionChange)="setValoresEstacionesFin($event)">
          <ion-option *ngFor="let linea of this.servicioDatos.lineas" [value]="linea">{{linea.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="estacionesFinSeleccionadas">
        <ion-label>Estación final</ion-label>
        <ion-select formControlName="estacionFin">
          <ion-option *ngFor="let estacion of estacionesFinSeleccionadas" [value]="estacion">{{estacion.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <button type="submit" ion-button block [disabled]="!formularioPlanificacion.valid">Buscar rutas</button>
  </form>

  <button ion-button block *ngIf="this.formularioPlanificacion.value.lineaIni" (click)="guardarTrayecto()" [disabled]="!formularioPlanificacion.valid">Guardar trayecto</button>

  <ion-list *ngIf="this.rutasObtenidas">
    <ion-list-header>Rutas obtenidas</ion-list-header>
    <ion-card (click)="seleccionaRuta(ruta)" *ngFor="let ruta of this.rutasObtenidas">

      <ion-row>
        <ion-col>
          <button item-start ion-button icon-left clear small>
            <ion-icon name="train" [ngStyle]="{'color': this.formularioPlanificacion.value.lineaIni.color}"></ion-icon>
            <div>{{this.formularioPlanificacion.value.lineaIni.name}}</div>
          </button>
        </ion-col>
        <ion-col>
          <p>
            Subir en {{ruta.tramos[0].inicio.name}}
          </p>
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let transbordo of ruta.transbordos">
        <ion-col>
          <button item-start ion-button icon-left clear small>
            <ion-icon name="train" [ngStyle]="{'color': transbordo.lineaDesde.color}"></ion-icon>
            <ion-icon name="walk"></ion-icon>
            <ion-icon name="train" [ngStyle]="{'color': transbordo.lineaHasta.color}"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          <p>
            Combinar en {{transbordo.estacionDesde.name}} a {{transbordo.lineaHasta.name}}
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button item-start ion-button icon-left clear small>
            <ion-icon name="walk"></ion-icon>
            <div>{{this.formularioPlanificacion.value.lineaFin.name}}</div>
          </button>
        </ion-col>
        <ion-col>
          <p>
            Bajar en {{ruta.tramos[ruta.tramos.length - 1].fin.name}}
          </p>
        </ion-col>
      </ion-row>

    </ion-card>
  </ion-list>

</ion-content>
