<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Registro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row class="logo-row">
      <ion-col></ion-col>
      <ion-col width-67>
        <img src="assets/metro_icono.png"/>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <div class="login-box">
      <form (ngSubmit)="register()" #registerForm="ngForm">
        <ion-row>
          <ion-col>
            <ion-list inset>

              <ion-item>
                <ion-input type="text" placeholder="Nombre de usuario" name="usuario" [(ngModel)]="usuario" [ngModelOptions]="{standalone: true}" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-input type="email" placeholder="Mail" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"></ion-input>
              </ion-item>

            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="signup-col">
            <button ion-button class="register-btn" full type="submit" [disabled]="!registerForm.form.valid">Crear cuenta nueva</button>
          </ion-col>
        </ion-row>

      </form>
    </div>


</ion-content>
